body {
    font-family: Arial, sans-serif;
    margin: 0px;
    background-color: #f0f8ff;
}

h1 {
    color: #333;
}

p {
    font-size: 16px;
    color: #444;
}



footer {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
}